body {
    background-color: yellow;
    font-family: 'Droid Sans';
    font-size: 100%;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: underline;
    color: red;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu';
    font-size: 110%;
}

h1 {
    font-size: 270%;
    font-style: italic;
}

main h2 {
    font-size: 160%;
    font-weight: bold;
    margin: 10px 0;
}

footer h5 {
    padding: 10px 0;
    margin-bottom: 10px;
}

header, main, footer {
    min-width: 855px;
    overflow: auto;
    padding: 20px;
}

header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}

header {
    background-color: white;
    margin-bottom: 4px;
}

header h1, .contact {
    float: left;
    width: 570px;
}

.tabs a span {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 5px;
    text-align: center;
    background: #ddd;
    padding: 5px;
    font-size: 110%;
}

.tabs a span.active {
    background: #eee;
}

main .content {
    padding: 15px 7px;
    background-color: #eee;
    font-size: 120%;
    border-radius: 0 5px 5px 5px;
}

main .content li {
    background-color: white;
    margin: 10px;
    padding: 1px;
}

main .content h3 {
    color: rgb(79, 78, 78);
    background-color: #ddd;
    margin: 10px;
    padding: 1px;
}

main .content .input {
    margin: 10px 5px 10px 10px;
    height: 25px;
    font-size: 110%;
}

main .content .button {
    font-weight: bold;
    font-size: 110%;
    padding: 2px 1.5px;
}

header nav, .sitemap {
    float: right;
    width: 285px;
}

header nav, footer li {
    font-weight: bold;
}

main .bulb-img {
    float: right;
    width: 285px;
    height: auto;
}

main {
    background-color: white;
}
